@font-face {
    font-family: Koreail-Light;
    font-weight: normal;
    src: url("../../public/font/Korail_Round_Gothic_Light.ttf")
        format("truetype");
}
@font-face {
    font-family: Koreail-Medium;
    font-weight: normal;
    src: url("../../public/font/Korail_Round_Gothic_Medium.ttf")
        format("truetype");
}
@font-face {
    font-family: Koreail-Bold;
    font-weight: normal;
    src: url("../../public/font/Korail_Round_Gothic_Bold.ttf")
        format("truetype");
}

/* button 기본 스타일 제거 */
button {
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    background-color: black;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll; /* 스크롤 가능하게 유지 */
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
