@font-face {
	font-family: Koreail-Light;
	font-weight: normal;
	src: url("../../public/font/Korail_Round_Gothic_Light.ttf") format("truetype");
}
@font-face {
	font-family: Koreail-Medium;
	font-weight: normal;
	src: url("../../public/font/Korail_Round_Gothic_Medium.ttf")
		format("truetype");
}
@font-face {
	font-family: Koreail-Bold;
	font-weight: normal;
	src: url("../../public/font/Korail_Round_Gothic_Bold.ttf") format("truetype");
}
/* 라이트모드 */
body.light-nav-active .header,
body.light-nav-active .btns > button,
body.light-nav-active .theme {
	color: black; /* 기본 상태에서의 색상 변경 */
}
body.light-nav-active .menu-button > * {
	background-color: black;
}

:root {
	--color-about-btn: #004f00d6;
	--color-text: black;

	background-color: white;
	transition: 1s;
	.image-container {
		filter: brightness(70%);
	}
	.menu-button > * {
		background-color: white;
	}
}

/* 다크모드 */
[data-theme="dark"] {
	--color-about-btn: rgb(129, 129, 129);
	--color-text: white;

	.image-container {
		filter: brightness(20%);
	}
	background-color: black;
}

/* button 기본 스타일 제거 */
button,
input {
	border: none;
	outline: none;
	background-color: inherit;
	cursor: pointer;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none;
}

body.full-screen {
	overflow: hidden;
}

html,
body {
}

.title-container {
	padding-bottom: 20px;
}
.title {
	font-size: 3rem;
}

.Arrow {
	padding-block: 50px;
}

.responsive-text {
	color: var(--color-text);
}
.mas {
	color: var(--color-about-btn);
}
.mas2 {
	background-color: var(--color-about-btn);
	color: white;
}
.link-btn > * {
	box-shadow: 0 2px 25px var(--color-about-btn);
	border: 1px solid var(--color-about-btn);
}
.tistory,
.info,
.github {
	color: var(--color-about-btn);
}
.info-back-img {
	color: var(--color-about-btn);
}
.project-container {
	box-shadow: 0 0px 30px var(--color-text);
}

.project-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.project-link > * {
	padding: 10px;
	border-radius: 10px;
	transition: 0.3s;
	&:hover {
		background-color: #e7e7e7;
	}
}
